:root {
  --branding-color: #e89c76;
  --secondary-color: #fff1ec;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 3;
  font-size: 24px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.about-section p {
  font-size: 15px;
  line-height: 1.8;
}

.about-section-content {
  margin: 30px;
}

.about-section {
  padding: 160px 20px;
}
.photo-container {
  width: 400px;
  height: 600px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/852/original/IMG_5902.jpg?1679934299");
  background-position: -120px center;
  background-size: cover;
  border-radius: 30px;
  margin-left: 60px;
  margin-top: 40px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 60px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background-color: black; /* Set background color on hover */
  color: white;
  outline-color: var(--branding-color); /* Set text color on hover */
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 60px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.4;
  }

  h2 {
    font-size: 42px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
  }
  .hero p {
    font-size: 24px;
  }
  .hero h2 {
    font-size: 22px;
    line-height: 1.2;
    margin-top: 26px;
  }
  .about-section-content p {
    font-size: 14px;
  }

  .p-about-container {
    padding: 0;
  }
  .photo-container {
    width: 300px;
    height: 200px;
    margin-left: 16px;
    margin-top: 10px;
    border-radius: 20px;
    background-position: center center;
  }

  @media (min-width: 700px) {
    .p-about-container {
      flex-direction: column;
      column-count: 2;
      column-gap: 20px;
    }

    .photo-container {
      width: 100%;
      height: 300px;
      background-position: right center;
      align-self: center;
    }
  }
}
